.l-navbar 
  //- a.l-navbar__logo-mask(href="index.html")
    //- img.l-navbar__logo(src="img/logo/HCY.svg", alt=title)

  //- .o-burger.l-navbar__burger(onclick="toggleBurger()")
  //-   .o-burger__wrap
  //-     .o-burger__line
  //-     .o-burger__line
  //-     .o-burger__line

  .l-navbar__menu 
    ul.l-navbar__btn-box 
      li.l-navbar__btn-wrap 
        a.l-navbar__btn(href="#about")
          span 關於我
      li.l-navbar__btn-wrap 
        a.l-navbar__btn(href="#experience")
          span 經歷
      li.l-navbar__btn-wrap 
        a.l-navbar__btn(href="#ability")
          span 能力
      li.l-navbar__btn-wrap 
        a.l-navbar__btn(href="#portfolio")
          span 我的作品